<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="timer">
    <countdown #cd [config]="config" (event)="handleEvent($event)"></countdown>
</div>
<div *ngIf="!displayEndScreen && displayButtons">
    <div class="questionNum">
        <p>Question {{quiz.questionNumber}}: {{quiz.questions[currentQuestion].question}}</p>
    </div>

    <!-- <div class="question">
        
    </div> -->

    <button type="button" class="btn firstChoice" (click)="answerCheck(1)">{{quiz.questions[currentQuestion].choices[0]}}</button>
    <button type="button" class="btn secondChoice" (click)="answerCheck(2)">{{quiz.questions[currentQuestion].choices[1]}}</button>
    <button type="button" class="btn thirdChoice" (click)="answerCheck(3)">{{quiz.questions[currentQuestion].choices[2]}}</button>
    <button type="button" class="btn fourthChoice" (click)="answerCheck(4)">{{quiz.questions[currentQuestion].choices[3]}}</button>

    <div>
        <span *ngFor="let icon of resultIcons">
            <i *ngIf="icon == true">
                <i class="fa fa-check-circle tick"></i>
            </i>
            <i *ngIf="icon == false">
                <i class="fa fa-times-circle cross"></i>
            </i>
        </span>
    </div>


</div>

<div *ngIf="displayEndScreen">
    <app-end-screen></app-end-screen>
</div>

<div *ngIf="!displayButtons">

    <div class="result">
        <div class="dynamicResult">{{IsitCorrect}}</div>

        <div class="border">
            <div class="scoring">
                <div class="text">
                    Current Score
                </div>
                <div class="score">
                    {{currentScore}}
                </div>
            </div>

            <div class="scoreBar"></div>
            <div class="extraInfo">
                <div class="text">Response Time</div>
                <div class="infobox">{{timeDifference}}ms</div>
            </div>

            <div class="extraInfo">
                <div class="text">Position</div>
                <div class="infobox">5</div>
            </div>
            <div class="waitCounter">
                PLEASE WAIT
                <br><br>
            </div>
        </div>
    </div>
</div>