<div class="test">{{questions[currentQuestion].question}}</div>
<button type="button" class="btn" (click)="questionCount(1)">{{questions[currentQuestion].answers[0]}}</button>
<button type="button" class="btn" (click)="questionCount(2)">{{questions[currentQuestion].answers[1]}}</button>
<button type="button" class="btn" (click)="questionCount(3)">{{questions[currentQuestion].answers[2]}}</button>
<button type="button" class="btn" (click)="questionCount(4)">{{questions[currentQuestion].answers[3]}}</button>
<div class="test">{{IsitCorrect}}</div>
<div class="test">{{currentQuestion}}</div>