.question {
    font-family: "Roboto";
    font-size: 3vw;
    font-size: max(40px);
    width: 52vw;
    height: 2vw;
    max-width: 90%;
    color: white;
    font-weight: bold;
    text-align: left;
    line-height: normal;
    margin-left: 8%;
    margin-top: 3%;
    
    
    
    
}

.btn {
    font-family: "Roboto";
    color: #191919;
    position: relative;
    width: 35%;
    height: 25%;
    font-weight: bold;
    border-radius: 30px;
    border-color: black;
    /* font-size: 3vw; */
    font-size: auto;
    font-size: max(35px);
    background-color: #50AFF5;
    
    
}

.firstChoice {
    background-color: #0480fc;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 0%;
}

.secondChoice {
    background-color: #fa105f;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 0%;
}

.thirdChoice {
    background-color: #16ac9a;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 0%;
}

.fourthChoice {
    background-color: #888888;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 0%;
}

.tick {
    font-size: 48px;
    color: green;
    padding-top: 1%;
    padding-left: 2%;
    font-size: 30px;
}

.cross {
    font-size: 48px;
    color: red;
    padding-top: 1%;
    padding-left: 2%;
    font-size: 30px;
}

.choices {
    height: auto;
    width: auto;
}

.questionCount {
    background-color: red;
    font-family: "Roboto";
    font-size: 50px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    line-height: normal;
}

.options{
    padding-top: 5%;
    width: 85%;
    height: 90%;
    max-width: 1100px;
    max-height: 700px;

    margin: auto; 
    border: 3px solid rgba(255, 255, 255, 0);
    
    
    }
    .timer { 
        background-color: aliceblue;
        width: 500px;
        height: 500px;
    }

@media only screen and (max-width: 950px) {
    .btn {
        font-family: "Roboto";
        color: #191919;
        width: 70%;
        height: 15%;
        font-weight: bold;
        border-radius: 30px;
        border-color: black;
        font-size: 7vw;
        margin-left: 15%;
        ;
    }
}
.border{
    margin:auto;
    width: 50%;
    height: 100%;
    border: 3px solid #3B3B3B;
    border-radius: 25px;
    padding:1vw;
    color: white;
    overflow: hidden;
}
.dynamicResult{
    color: green;
    text-align: center;
    font-size: 3vw;
    margin:2vw;
    font-weight: 900;
}
.text{
    float:left;
    font-size: 3vw;
    width: 65%;
    text-align: left;
    padding:1vw;
}
.score{
    color:gold;
    float:right;
    text-align: right;
    width:20%;
    padding:1vw;
    font-size: 3vw;;
}
.scoring{
    padding:0.5vw;
    float:right;
    width:100%;
}
.scoreBar{
    border:3px solid green;
    width:95%;
    float:left;
}
.extraInfo{
    float:left;
    width:100%;
    padding-top: 3vw;;
}
.infobox{
    padding:1vw;;
    text-align: right;
    width:20%;
    font-size: 3vw;
    border: 3px dashed darkred;
    float:right;
}
.waitCounter{
    float:left;
    width:100%;
    text-align: center;
    font-size: 3vw;
    padding-top: 1vw;
    font-weight:900;
    color:gold;
}
.tick {
    font-size: 48px;
    color: green;
    padding-top: 1%;
    padding-left: 2%;
    font-size: 30px;
}
