<div id="parent" style="width: 40%; float: left; height:100%">
   <div class="child"> <h1>Settings</h1></div>
   
    <div class="child">
        <h3>Music</h3>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
    </div><!--CHILD DIV -->
    <div class="child">  
        <h3>Sound Effects</h3>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
    </div><!--CHILD DIV -->
    <div class="child"> 
        <h3>Inverted Colours</h3>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
    </div><!--CHILD DIV -->
    <div class="child"> 
        <h3>Label</h3>
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
    </div> <!--CHILD DIV -->
</div><!--PARENT DIV-->

<div id="parent" style="width: 30%; float:right;">
    <button type="button" class="btnExit" (click)="onPress()">X</button>
    <img src="../../assets/dancing.png" width="60%" height="auto" >
</div><!--PARENT DIV-->

