<div *ngIf="!display">

    <div class="box">
      
       <div class="div1">
       <button type="button" class="fa fa-arrow-circle-left fa-2x btnExit" (click)="onPress()"></button>
       <h1 class="headers">Your Score</h1>
    
       <div class="userInfo">
          <h1 class="nameSize">{{userName}} <i class="fa fa-user-circle fa-1x profileIcon"> {{userScore}}</i></h1>
          <mat-progress-bar class="progressBar" mode="determinate" [value]="userScore"></mat-progress-bar>
          <h1 class="leftAlign Points" >Correct - {{userCorrect}}</h1>
          <h1 class="leftAlign Points">Incorrect - {{userIncorrect}}</h1>
          <h1 class="leftAlign Points">Average Time</h1> 
          <h1 class="timer leftAlign">{{userAvg}}s</h1>
       </div>
    
       </div>
    
       <h1 class="headers">Top Match Players</h1>
       <div class="div2">
          
             <div class="topPlayerInfo">
                <h1 class="nameSizeTop">{{player1Name}}<i style="color: gold;"class="fa fa-trophy fa-1x trophyIcon"> {{userScore}}</i></h1>
                <mat-progress-bar class="progressBarTop" mode="determinate" [value]="player1Score"></mat-progress-bar>
                <h1 class="leftAlign topPoints">Correct - {{player1Correct}}</h1>
                <h1 class="leftAlign topPoints">Incorrect - {{player1Incorrect}}</h1>
                <h1 class="leftAlign topPoints">Average Time</h1> 
                <h1 class="Toptimer leftAlign">{{player1Avg}}s</h1>
             </div>
    
             <div class="topPlayerInfo">
                <h1 class="nameSizeTop">{{player2Name}}<i style="color: silver;"class="fa fa-trophy fa-1x trophyIcon"> {{userScore}}</i></h1>
                <mat-progress-bar class="progressBarTop" mode="determinate" [value]="player2Score"></mat-progress-bar>
                <h1 class="leftAlign topPoints">Correct - {{player2Correct}}</h1>
                <h1 class="leftAlign topPoints">Incorrect - {{player2Incorrect}}</h1>
                <h1 class="leftAlign topPoints">Average Time</h1> 
                <h1 class="Toptimer leftAlign">{{player2Avg}}s</h1>
             </div>
    
             <div class="topPlayerInfo">
                <h1 class="nameSizeTop">{{player3Name}}<i style="color: brown;"class="fa fa-trophy fa-1x trophyIcon"> {{userScore}}</i></h1>
                <mat-progress-bar class="progressBarTop" mode="determinate" [value]="player3Score"></mat-progress-bar>
                <h1 class="leftAlign topPoints">Correct - {{player3Correct}}</h1>
                <h1 class="leftAlign topPoints">Incorrect - {{player3Incorrect}}</h1>
                <h1 class="leftAlign topPoints">Average Time</h1> 
                <h1 class="Toptimer leftAlign">{{player3Avg}}s</h1>
             </div>
             <div class="topPlayerInfo">
                <h1 class="nameSizeTop">{{player4Name}}<i class="trophyIcon"> {{userScore}}</i></h1>
                <mat-progress-bar class="progressBarTop" mode="determinate" [value]="player4Score"></mat-progress-bar>
                <h1 class="leftAlign topPoints">Correct - {{player4Correct}}</h1>
                <h1 class="leftAlign topPoints">Incorrect - {{player4Incorrect}}</h1>
                <h1 class="leftAlign topPoints">Average Time</h1> 
                <h1 class="Toptimer leftAlign">{{player4Avg}}s</h1>
             </div>

       </div>
    
       
       <div class="clear">
          
    </div>
    
    
    </div>
    <div *ngIf="display">
       <app></app>
    </div>
    