
.a {
    padding-left: 5%;
    padding-right: 10%;
    padding-top:2%;
}

.left{
    float: left;
    width: 40%;
}
.right{
    float: right;
}

h1{
    color: white;
    
}

.slider {
  width: 100%;
  display: block;
}



.input[type=text]{
    margin-left: 80%;
    margin-top: 20%;
}

label{
    color: white;
    margin-left: 30%;
    margin-top: 30%;
}


input[type=number]{
    margin-left: 21%;
}

h3{
    color: white;
    text-align: left;
    margin-left: 2%;
    font-size: 20px;
}

.mat-button-toggle{
    font-family: "Roboto";
    color: #191919;
    width: 25%;
    max-width: 800px;
    max-height: 180px;
    height: 25%;
    font-weight: bold;
    border-radius: 0.3vw;
    font-size: 1.8vw;
    font-size: max(30px);
    padding: 2% 2% 2% 2%;
    border-style: none;
    margin-left: 2%;
    margin-bottom: 2%;
  }



.mat-button-toggle-checked{
    background-color: grey;
} 
  

.uNameIn{
    margin-left: 20%;
    margin-top: 20%;
}


.start{
    font-family: "Roboto";
    color: black;
    border-radius: 8px;
    border-color: black;
    font-size: 300%;
    background-color: teal;
    margin-left: 15%;
    margin-top: 30%;
    margin-bottom: 20%;
}

.frame {
    border: 0.3vw solid  #3B3B3B;
    border-radius: 0.6vw;
    font-family: "Roboto";
    height: auto;
    width: auto;
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

   .btnExit{
    float: left;
    background-color: #191919;
    border: none;
    color: #FA1772;
    position: fixed;   
    font-size: 3vw;
    font-size: max(70px);
    cursor: pointer;  
    margin-top: -1%;
    margin-left: 0%; 
    margin-right: 4%; 
    position: relative;
}

  .headers {
    font-family: "Roboto";
    text-align: left;
    margin-top: 2%;
    padding-bottom: 2vw;
    color: white; 
    font-size: max(35px);
}

.numQuest{
    margin-left: 15%;
}

 .questbox {
    width: 15%;
    font-size: 1.1vw;
    border-style: none;
    border-radius: 0.3vw;
} 

.btnBox {
    width: auto;
    flex-wrap: wrap;
    border-style: none;
}

.dropDown{
    opacity: 0.75;
  font-size: 0.75em;
}