
.a {
    padding-left: 5%;
    padding-right: 10%;
    padding-top:2%;
}

.left{
    float: left;
    width: 40%;
    padding-left: 10%;
}
.right{
    float: right;
}

h1{
    color: white;
    font-size: max(1vw);
    margin-left: 3%;
    margin-top: 1%;
    
}

.slider {
  width: 100%;
  display: block;
  margin-top: -5%;
}
.submit {
    margin-left: -20%;
}



.uNameIn[type=text]{
    border: 0.15vw dashed  #FA1772;
    background-color: #191919;
    border-radius: 0.5vw;
    color: white;
    width: 113%;
    font-size: 150%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
}



.questbox[type=number]{
    display: inline;
    margin-left: 10%;
    border-radius: 0.5vw;
    border: 0.15vw dashed  #FA1772;
    background-color: #191919;
    color: white;
}

h3{
    color: white;
    text-align: left;
    margin-left: 2%;
    font-size: 20px;
}

.mat-button-toggle{
    font-family: "Roboto";
    color: #191919;
    width: 20%;
    /* max-width: 7vw; */
    /* max-height: 3vw; */
    height: 20%;
    font-weight: bold;
    border-radius: 0.3vw;
    font-size: 1.8vw;
    font-size: max(30px);
    padding: 3% 0% 2% 0%;
    border-style: none;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  

.btn{
    background-color:#FA1772;
    
    
}


.mat-button-toggle-checked{
    background-color: rgb(179, 179, 179);

} 
  

.start{
    font-family: "Roboto";
    font-weight: bold;
    color: black;
    border-radius: 8px;
    width: 117%;
    font-size: 300%;
    background-color: #60E0D1;
    margin-top: 8%;
    margin-bottom: 8%;
    border: none;
    cursor: pointer;
}

.frame {
    border: 0.3vw solid  #3B3B3B;
    border-radius: 0.6vw;
    font-family: "Roboto";
    height: auto;
    width: auto;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -5%;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.frame2 {
    border: 0.3vw solid  #3B3B3B;
    border-radius: 0.6vw;
    font-family: "Roboto";
    height: auto;
    width: auto;
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -2%;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#style-2::-webkit-scrollbar-track
{
	
	border-radius: 10px;
	background-color: #F5F5F5;
}

.btnExit{
    float: left;
    background-color: #191919;
    border: none;
    color: #FA1772;
    position: fixed;   
    font-size: 3vw;
    font-size: max(70px);
    cursor: pointer;  
    margin-top: 0%;
    margin-left: -4%;  
    position: relative;
    z-index: 1;
  }

  .headers {
    font-family: "Roboto";
    text-align: left;
    margin-top: 2%;
    margin-left: 10%;
    padding-bottom: 2vw;
    color: white; 
    font-size: max(50px);
}

.numQuest{
    margin-left: 15%;
}

 .questbox {
    width: 15%;
    font-size: 1.1vw;
    border-style: none;
    border-radius: 0.3vw;
} 

.btnBox {
    width: 50vw;
    flex-wrap: wrap;
    border-style: none;
    overflow-y: scroll; 
    height:10vw;
    margin-left: 10%;
    
}
/* ::-webkit-scrollbar {
    display: none;
    } */

    ::-webkit-scrollbar
    {
      width: 0.5vw;  /* for vertical scrollbars */
      height: 12px; /* for horizontal scrollbars */
    }
    
    ::-webkit-scrollbar-track
    {
      background: rgba(0, 0, 0, 0.1);
    }
    
    ::-webkit-scrollbar-thumb
    {
      background: #FA1772;
    }
    .mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: blue;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}



@media only screen and (max-width: 980px) {

  .headers {
    font-family: "Roboto";
    text-align: center;
    margin-top: 6%;
    padding-bottom: 2vw;
    color: white; 
    font-size: max(35px);
    margin-left: -10%;
}

.btnExit{
  float: left;
  background-color: #191919;
  border: none;
  color: #FA1772;
  position: fixed;   
  font-size: 3vw;
  font-size: max(45px);
  cursor: pointer;  
  margin-top: 3%;
  margin-left: -3%;  
  position: relative;
  z-index: 1;
  
  }

.left{
    float: left;
    width: 100%;
    margin-left: -7%;
}
.right{
    float: left;
    
    margin-left: 3%;
    
}
.frame {
  border: 0.3vw solid  #3B3B3B;
  border-radius: 4vw;
  font-family: "Roboto";
  height: auto;
  width: auto;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: -5%;
  position: relative;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.frame2 {
    border: 0.3vw solid  #3B3B3B;
    border-radius: 4vw;
    font-family: "Roboto";
    height: auto;
    width: auto;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 25%;
    position: relative;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.uNameIn[type=text]{
    border: 0.15vw dashed  #FA1772;
    background-color: #191919;
    border-radius: 0.5vw;
    color: white;
    width: 110%;
    font-size: 150%;
    margin-left: 15%;
}
.start{
    font-family: "Roboto";
    font-weight: bold;
    color: black;
    border-radius: 8px;
    font-size: 200%;
    background-color: #60E0D1;
    margin-top: 10%;
    margin-left: 12%;
    margin-bottom: 10%;
    

}
.a {
    padding-left: 5%;
    padding-right: 10%;
    padding-top:2%;
}
.btnBox {
    width: 100%;
    flex-wrap: wrap;
    border-style: none;
    overflow: hidden;
    height:auto;
    margin-left: 7%;
    padding-top: 5%;
    
}
.mat-button-toggle{
    font-family: "Roboto";
    color: #191919;
    max-width: 40vw;
    max-height: 5vw;
    font-weight: bold;
    border-radius: 0.3vw;
    
    font-size: max(10px);
   
   
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .questbox {
    width: 15%;
    height: 5vw;
    font-size: max(3vw);
    border-style: none;
    border-radius: 0.3vw;
   
} 
h1{
  color: white;
  font-size: max(4vw);
  margin-left: 3%;
  margin-top: 1%;
  
}
.start{
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  border-radius: 8px;
  width: 117%;
  font-size: 220%;
  background-color: #60E0D1;
  margin-top: 8%;
  margin-bottom: 8%;
  
  border: none;
  cursor: pointer;
}



    }