

.a{
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px blue;
}
.left{
    position: absolute;
    left: 10%;
    width: 200%;
    height: 200%;
    border: 5px blue;
    border-radius: 8px;
}

.right{
    position: absolute;
    left: 175%;
    width: 175%;
    height: 200%;
    border: 3px blue;
    border-radius: 16px;
    margin-top: 40%;
    
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }


h1{
    color: white;
    margin-left: 20%;
    margin-top: 15%;
    
}

output{
    display: inline;
    color: white;
    margin-left: 5%;
}

.slider {
  margin-left: 18%;
  width: 30%;
}



.input[type=text]{
    margin-left: 80%;
    margin-top: 20%;
}

label{
    color: white;
    margin-left: 30%;
    margin-top: 30%;
}

h2{
    color: white;
    margin-left: 20%;
    margin-top: 5%;
}

input[type=number]{
    margin-left: 21%;
}

h3{
    color: white;
    text-align: left;
    margin-top: 10%;
    margin-left: 2%;
    font-size: 20px;
}

.mat-button-toggle{
    font-family: "Roboto";
    color: black;
    border-radius: 8px;
    border-color: black;
    font-size: 200%;
    
  }

.mat-button-toggle-checked{
    color: white;
    border-radius: 8px;
    border-color: black;
    font-size: 200%;
} 
  
.btn1{
    background-color: red;
  
}

.btn2{
    background-color: greenyellow;
}

.btn3{
    background-color: purple;
    
}

.btn4{
    background-color: yellow;
}

.btn5{
    background-color: turquoise;
}



.uName{
    font-family: "Roboto";
    margin-left: 22.5%;
    margin-bottom: 5%;
    font-size: 200%;

}

.uNameIn{
    margin-left: 20%;
}


.start{
    font-family: "Roboto";
    color: black;
    border-radius: 8px;
    border-color: black;
    font-size: 300%;
    background-color: teal;
    margin-left: 15%;
    margin-top: 10%;
}