
<div class="a" *ngIf="!showLobby && !display">

    <button type="button" class="fa fa-arrow-circle-left fa-2x btnExit"(click)="gohome()"></button>
    <h1 class="headers">Host Settings</h1>
    
    <div class="left">
        <div class="frame">
            <h1> Time Per Question </h1>
            <mat-slider class=slider min=1 max=30 step=1 value=10 thumbLabel (input)="onInputChange($event)">
            </mat-slider>
            <h1 class="num_Quest"> Number Of Questions<input type="number" class="questbox" (change)='questionNum=$event.target.value' [value]="questionNum"> </h1>
        </div>

        

    </div>



    <div class="right frame2">
        <form class="submit">
            <input class=uNameIn placeholder="Username" type="text" id="uname" name="uname" (change)='username=$event.target.value' [value]="username"><br>
            <button class="start" type="button" (click)="createLobby()">Create Game</button>
        </form>
    </div>
   
    <div>
        
        <mat-button-toggle-group class=btnBox multiple name="fontStyle" aria-label="Font Style">
            <h2 class="categories"> Categories: </h2>
            <mat-button-toggle class="btn" value="category._id" *ngFor="let category of categories" (click)="setCategory(category._id)">{{category.name}}</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>

<div *ngIf="showLobby">
    <app-lobby></app-lobby>
</div>

<div *ngIf="display">
    <app></app>
</div>

