.ins_title{
    font-family: "Roboto";
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 4%;
    font-weight: bold;
    padding-bottom: 5%;
}

.instructions_box{
    width: 65%;
    height: 55%;
    margin: auto;
    background-color: #2e323e;
    border-radius: 25px;  
}

.instructions_text{
    font-family: "Roboto";
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    word-wrap:break-word;
    letter-spacing: 1px; 
    line-height: 1;
}

.btn{
    float: right;
    background-color: #191919;
    border: none;
    color: #FC0441;
    padding: 3%;    
    font-size: 3vw;
    cursor: pointer;  
    margin-right: 1.8%;
    margin-top: 1.2%;
}
.frame {
    border: 0.2vw solid  #3B3B3B;
    border-radius: 0.6vw;
    font-family: "Roboto";
    height: 15vw;
    width: 20vw;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 15%;
   }