<div class="instructions" *ngIf="!clicked_back">

    <button type="button" class="btn back" (click)="onClickBack()">Back<br> Placeholder button</button>

    <h1 class="ins_title">Instructions</h1>

    <div class="instructions_box">
        <p class="instructions_text">
            Welcome to [quiz name]! To play single player or host your own game click on the "play" button, if you want to join a friends  game click the "join game" button and enter the code they give you. If you create your own signle or multi player game, you will be presented with options to customize the game to your liking. To play the game once it starts just click on what you think is the correct answer as fast as possible, the less time and the more correct answers you have, the better your chances of winning are. [insert info about scoring system bc I have no idea] <br> (very much placeholder text, will be updated as development progresses)
        </p>
    </div>

    <div class="test" *ngIf="clicked_back">
        <app-landing-page></app-landing-page> 
    </div>>
    

</div>