.ins_title{
    font-family: "Roboto";
    color: white;
    text-align: center;
    font-size: 8vw;
    font-size: max(70px);
    padding-top: 6%;
    font-weight: thin;
    padding-bottom: 5%;
    margin-left: 10%;
}



.btn{
    float: right;
    background-color: #191919;
    border: none;
    color: #FC0441;
    padding: 3%;    
    font-size: 3vw;
    font-size: max(80px);
    
    cursor: pointer;
    margin-right: 1.5%;
    margin-top: 1.5%;
}
.frame {
    border: 0.2vw solid  #3B3B3B;
    border-radius: 0.6vw;
    font-family: "Roboto";
    height: auto;
    width: 25vw;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 21%;
   }
  
   .textmain {
    font-family: "roboto";
    text-align: center;
    width: 100%;
    color: white;
    font-size: 0.5vw;
    font-size: max(25px);
    line-height: normal;
   }
   