<html lang="en">
<link href="//db.onlinewebfonts.com/c/c4a64740ecb71342cea0a87b66ee15e0?family=PhosphateInline" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" type="text/css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="body" [class.toggled]="classToggled">

    <!-- Power up menu -->
    <p class="title">BILLIONAIRE GOLF</p>

    <!-- Main Quiz Menu -->
    <div class="options" *ngIf="!displaySettings && !displayInstructions && !displayHost && !displayLeaderboard && !displayJoinPage">

        <button type="button" class="btn play top" (click)="onHostPress()">Play!</button>

        <button type="button" class="btn join" (click)="onJoinPress()">Join Game</button>
        <button type="button" class="btn leaderboard" (click)="onLeaderboardPress()">Leaderboard</button>
        <button type="button" class="btn instructions" (click)="onInstructionsPress()">Instructions</button>
        <button type=" button " class="btn settings " (click)="onSettingsPress() ">Settings</button>
    </div>

    <div class="options " *ngIf="displayHost ">
        <app-host-setting></app-host-setting>
    </div>
    <div class="options " *ngIf="displaySettings ">
        <app-settings></app-settings>
    </div>
    <div class="options " *ngIf="displayInstructions">
        <app-instructions></app-instructions>
    </div>
    <div class="options " *ngIf="displayLeaderboard">
        <app-leaderboard></app-leaderboard>
    </div>
    <div class="options " *ngIf="displayJoinPage">
        <app-join-game></app-join-game>
    </div>

</body>
</html>

