<link href="//db.onlinewebfonts.com/c/c4a64740ecb71342cea0a87b66ee15e0?family=PhosphateInline" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia" type="text/css" />

<body class="body">
    <p class="title">BILLIONAIRE GOLF</p>
    <div class="options" *ngIf="!display">
        <button type="button" class="btn play" (click)="onPress()">Play!</button>
        <button type="button" class="btn leaderboard">Leaderboard</button>
        <button type="button" class="btn instructions">Instructions</button>
        <button type="button" class="btn settings">Settings</button>
    </div>>
    <div class="options" *ngIf="display">
        <app-landing-page></app-landing-page>
    </div>>

</body>