.ins_title{
    font-family: "Roboto";
    color: white;
    text-align: center;
    font-size: max(400%);
    padding-top: 3%;
    font-weight: thin;
    padding-bottom: 2%;
    margin-left: 12%;
}

.btnExit{
  float: left;
  background-color: #191919;
  border: none;
  color: #FA1772;
  position: fixed;
  font-size: 3vw;
  font-size: max(70px);
  cursor: pointer;
  margin-top: 3%;
  margin-left: 3%;
  position: relative;
  z-index: 1;
  
}
.btn{
    float: right;
    background-color: #191919;
    border: none;
    color: #FA1772;
    padding: 3%;    
    font-size: max(70px);
    
    cursor: pointer;
    margin-right: 1.5%;
    margin-top: 1.5%;
}
.btn:hover{
    
  color: #970f46;
  
  
}

div.box {
    height: 80%;
    width: 95.5%;
    margin-top: 3vw;
  }


  .headers {
    font-family: "Roboto";
    text-align: center;
    position: relative;
    padding-bottom: 2vw;
    color: white;
    font-size: max(50px);
  }
  
  div.div1 {
    float: left;
    height: 100%;
    width: 50%;
    padding-right: 1vw;
    padding-left: 1vw;
    border-right: 0.2vw solid;
    border-color: #3B3B3B;
  }

  div.div2 {
    height: 320px;
    width: 40%;
    float: middle;
    padding-right: 1vw;
    padding-left: 2.5vw;
    overflow: auto;
  }
  
  .rightborder {
    border-right: 0.2vw solid;
    border-color: #3B3B3B;
    margin-left: 8vw;
    height: 20vw;
    margin-top: 5vw;
  }

  

.btnChange{
    font-size: 1.5vw;
    color: white;
    border: 0.2vw solid #3B3B3B;
    background-color: #fa177200;
    border-radius: 2vw;
    width: 100%;
    height: 15%;
    max-width: 800px;
    font-family: "Roboto";
    border-radius: 25px;
    float: left;
  }
  

  .btnChange2{
    font-size: 1.5vw;
    color: white;
    border: 0.2vw solid #3B3B3B;
    background-color: rgba(255, 217, 0, 0);
    border-radius: 2vw;
    width: 100%;
    height: 15%;
    max-width: 800px;
    font-family: "Roboto";
    border-radius: 25px;
    float: left;
  }
  
   .textmain2 {
    border-radius: 2vw;
    font-family: "roboto";
    text-align: center;
    width: 90%;
    float: middle;
    color: gold;
    font-size: max(130%);
    line-height: normal;
    position: relative;
    
   }




   @media only screen and (max-width: 980px) {
    .ins_title{
        font-family: "Roboto";
        color: white;
        text-align: center;
        font-size: max(6vw);
        padding-top: 6%;
        font-weight: thin;
        padding-bottom: 5%;
        margin-left: 10%;
    }
    .btn{
        float: right;
        background-color: #191919;
        border: none;
        color: #FA1772;
        padding: 3%;    
        font-size: max(6vw);
        
        cursor: pointer;
        margin-right: 1.5%;
        margin-top: 1.5%;
    }
    .frame {
        border: 0.4vw solid  #3B3B3B;
        border-radius: 4vw;
        font-family: "Roboto";
        height: 100%;
        width: 40vw;
        padding-top: 2%;
        padding-left: 6%;
        padding-right: 5%;
        margin-left: 12%;
        position: relative;
        overflow: auto;
       }
       .textmain {
        font-family: "roboto";
        text-align: center;
        width: 100%;
        color: white;
        font-size: max(95%);
        line-height: normal;
        position: relative;
       }
       
   }
   