<div *ngIf="!display">
    <div class="box">
        <div class="div1">
            <button type="button" class="fa fa-arrow-circle-left fa-2x btnExit" (click)="onPress()"></button>
            <h1 class="headers">Room Code</h1>
            <h1 class="headers2">{{quizId}}</h1>
            <h1 class="headers2"> </h1>
            <h1 class="headers2"> </h1>
            <h1 class="headers2"> </h1>
            <button type="button" class="startGame" (click)="onPress()">
                <h1 class="startGameText">Start Game</h1>
            </button>
        </div>

        <h1 class="headers">Current Lobby</h1>

        <div class="div2">
            <div class="topPlayerInfo" *ngFor="let participant of localParticipants">
                <h1 class="nameSizeTop">{{participant.name}}</h1>
            </div>
        </div>
    </div>
</div>
<div *ngIf="display">
    <app-quiz-page></app-quiz-page>
</div>