
<div class="box">
  
   <div class="div1">
   <h1 class="headers">Your Score</h1>
   <div class="userInfo">
      <h1>Johnsmith13 <i class="fa fa-user-circle fa-2x profileIcon"></i></h1>
      <mat-progress-bar class="progressBar" mode="determinate" [value]="userScore"></mat-progress-bar>
      <span class="divLeft rightborder"><h1>Correct - 9</h1><h1>Incorrect - 3</h1></span>
      <span class="divRight"><h1>Average Time</h1><h1 class="timer">10s</h1></span>  
   </div>
   </div>
   <div class="div2">
      <h1 class="headers">Top Players</h1>
      <div class="topPlayerInfo">
         <h1 class="">Johnsmith13 <i class="fa fa-user-circle fa-2x profileIcon"></i></h1>
         <mat-progress-bar class="progressBar" mode="determinate" [value]="userScore"></mat-progress-bar>
         <span class="divLeft rightborder"><h1>Correct - 9</h1><h1>Incorrect - 3</h1></span>
         <span class="divRight"><h1>Average Time</h1><h1 class="timer">10s</h1></span>  
      </div>
      
   </div>
   <div class="clear">
</div>
   
    
   
    
    


