
div.box {
    
    height: 80%;
    width: 100%;
    margin-top: 5%;
  }
  
  div.div1 {
    
    float: left;
    height: 100%;
    width: 50%;
    border-right: 0.2vw solid;
    border-color: #3B3B3B;
  }
  
  div.div2 {
    
    height: 100%;
  }
  
  div.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    font-size: 0pt;
    margin-top: -1px;
  }
  .userInfo {
    border: 0.2vw solid  #3B3B3B;
    border-radius: 0.4vw;
    font-family: "Roboto";
    text-align: left;
    
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding-top: 5%;
    padding-left: 5%;
    
    
  }
  .profileIcon {
      margin-left: 40%;
      height: auto;
      width: auto;
  }
  .yourscoreSizing {
      font-size: 1.5vw;
      
      
  }

 

  .headers {
    font-family: "Roboto";
    text-align: center;
    
    padding-bottom: 3%;
    color: white;
    font-size: 3vw ; 
  }