<div class="result">
    <div class="dynamicResult">Correct

        <i class="fa fa-check-circle tick"></i>
    </div>
    <div class="border"> 
        <div class="scoring">
            <div class="text">
                Current Score
            </div>
            <div class="score">
               {{playerScore}}
            </div>
        </div>
    
    <div class="scoreBar"></div>
        <div class="extraInfo">
            <div class="text">Response Time</div>
            <div class="infobox">{{responseTime}}s</div>
        </div>
        
        <div class="extraInfo">
            <div class="text">Position</div>
            <div class="infobox">{{position}}</div>
        </div>
        <div class="waitCounter">
            PLEASE WAIT
            <br><br>
            {{waitTime}}
        </div>
    
        
    </div>
</div> 